In [1]:
print('Hello World')

Hello World

In [18]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

### To better understand each .csv file, we import in pandas and display

### Aisle Names
The table below maps aisle IDs to aisle names.

In [7]:
pd.read_csv('./instacart-market-basket-analysis/aisles.csv')

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

Are there any Nans? We will check.

In [27]:
aisles_table = pd.read_csv('./instacart-market-basket-analysis/aisles.csv')
aisles_table.isnull().any()

# there are no Nans

aisle_id    False
aisle       False
dtype: bool

### Department Names
The table below maps department IDs to department names. There don't seem to be any nans. This is not really our main table, but is useful as it maps numbers in the main table to meaningful names.

In [8]:
pd.read_csv('./instacart-market-basket-analysis/departments.csv')

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

### Orders and Products: Which orders included which products? There are two tables available of this kind.

In [9]:
pd.read_csv('./instacart-market-basket-analysis/order_products__prior.csv')

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [28]:
order_product = pd.read_csv('./instacart-market-basket-analysis/order_products__prior.csv')

In [30]:
order_product.isnull().any()


# No Nans in any column in this table too

order_id             False
product_id           False
add_to_cart_order    False
reordered            False
dtype: bool

In [10]:
pd.read_csv('./instacart-market-basket-analysis/order_products__train.csv')

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [33]:
order_product_train = pd.read_csv('./instacart-market-basket-analysis/order_products__train.csv')

order_product_train.isnull().any()

# no Nans in this table

order_id             False
product_id           False
add_to_cart_order    False
reordered            False
dtype: bool

### Who ordered? When and how many days since prior order?

In [11]:
pd.read_csv('./instacart-market-basket-analysis/orders.csv')

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [35]:
order_details = pd.read_csv('./instacart-market-basket-analysis/orders.csv')

order_details.isnull().any()

# there are Nans but by looking we see only days since prior orders have them. Hence they are probably there only for orders corresponding to people who have never ordered before using Instacart.

order_id                  False
user_id                   False
eval_set                  False
order_number              False
order_dow                 False
order_hour_of_day         False
days_since_prior_order     True
dtype: bool

In [12]:
pd.read_csv('./instacart-market-basket-analysis/products.csv')

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [37]:
products_and_where_to_find = pd.read_csv('./instacart-market-basket-analysis/products.csv')


products_and_where_to_find.isnull().any()

# Data seems to be clean overall.

product_id       False
product_name     False
aisle_id         False
department_id    False
dtype: bool

I don't think we will use below table. I don't understand it at all.

In [13]:
pd.read_csv('./instacart-market-basket-analysis/sample_submission.csv')

       order_id     products
0            17  39276 29259
1            34  39276 29259
2           137  39276 29259
3           182  39276 29259
4           257  39276 29259
...         ...          ...
74995   3420740  39276 29259
74996   3420877  39276 29259
74997   3420888  39276 29259
74998   3420989  39276 29259
74999   3421054  39276 29259

[75000 rows x 2 columns]

### We conclude that data is clean and ready for analysis.